<div class="min-h-screen flex items-center justify-center bg-[var(--color-secondary)] px-6 py-12">
  <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-8">

  <h1 class="text-2xl font-bold text-center mb-6">Change your password</h1>

  
      <% if notice %>
      <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert%>
      <p class="alert"><%= alert %></p>
      <% end %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field mb-4">
      <%= f.label :password, "New password" class: "block text-sm font-medium mb-1"%>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-input w-full border border-gray-300 rounded p-2"  %>
    </div>

    <div class="field mb-4">
      <%= f.label :password_confirmation, "Confirm new password" class: "block text-sm font-medium mb-1"%>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input w-full border border-gray-300 rounded p-2"  %>
    </div>

    <div class="actions mb-6">
      <%= f.submit "Change my password", class: "w-full bg-[var(--dark-color)] text-white py-2 rounded hover:bg-color-700 transition"  %>
    </div>
  <% end %>

<%= render "devise/shared/links" %>

</div>
</div>